/* app css stylesheet */

body {
    padding-top: 60px;
    background-color: #F5F5F5;
}

.footer, .navbar.navbar-inverse div {
    background-image: url("../img/concrete_wall.png");
}

.footer {
    color: #ccc;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    height: 200px;
}