<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Account Types</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="span3">
    <p>
      <button class="btn btn-small" ng-click="openAccountTypeAddModal()">Add New Account Type</button>
    </p>

    <div modal="accountTypeAdd" class="modal hide fade">
      <form name="accountTypeForm" novalidate accept-charset="utf-8">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeAccountTypeAddModal()"><i class="icon-remove"></i></button>
        <h3 id="accountTypeAddLabel">Add Account Type</h3>
      </div>
      <div class="modal-body">
          <label>Name</label>
          <input type="text" ng-model="account_type.name" ng-minlength="4" ng-maxlength="20" class="span4" name="name" required placeholder="Name">
          <span class="help-inline error" ng-show="accountTypeForm.name.$error.minlength">Too short!</span>
          <span class="help-inline error" ng-show="accountTypeForm.name.$error.maxlength">Too long!</span>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="closeAccountTypeAddModal()">Close</button>
        <button class="btn btn-primary" ng-disabled="accountTypeForm.$invalid" ng-click="add()">Save Account Type</button>
      </div>
      </form>
    </div>
  </div>

  <div class="span6">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account_type in account_types | filter:query">
          <td>{{ $index + 1 }}</td>
          <td>{{ account_type.name }}</td>
          <td>
            <button class="btn btn-mini btn-danger" ng-click="remove(account_type.account_type_id)">
              <i class="icon-remove icon-white"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
