<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Accounts</h1>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Account Type</th>
          <th>Balance</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account in accounts | filter:query">
          <td>{{ $index + 1 }}</td>
          <td>{{ account.name }}</td>
          <td>{{ account.description }}</td>
          <td>{{ account.account_type.name }}</td>
          <td><p class="text-right">{{ account.balance|currency }}</p></td>
          <td>
            <a href="#/accounts/{{ account.account_id }}"><button class="btn btn-mini btn-info">
              <i class="icon-pencil icon-white"></i>
            </button></a>
            <button class="btn btn-mini btn-danger" ng-click="remove(account.account_id)">
              <i class="icon-remove icon-white"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
