<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>{{ account.name }} <small>{{ account.description }}</small></h1>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Details</th>
          <th>Transfer</th>
          <th>Debit</th>
          <th>Credit</th>
          <th>Balance</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="trx in transactions">
          <td>{{ trx.date }}</td>
          <td>
            <p>
              {{ trx.summary }}
              <br />
              <small>{{ trx.description }}</small>
            </p>
          </td>
          <td trx-transfer-account-name></td>
          <td><p class="text-right" trx-debit-amount></p></td>
          <td><p class="text-right" trx-credit-amount></td>
          <td><p class="text-right">{{ trx.balance|currency }}</p></td>
          <td>
            <a href="#/transactions/edit/{{ trx.transaction_id }}"><button class="btn btn-mini btn-info">
              <i class="icon-pencil icon-white"></i>
            </button></a>
            <button class="btn btn-mini btn-danger" ng-click="remove(trx.transaction_id)">
              <i class="icon-remove icon-white"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
